<configuration>

	<!-- Console (JSON) -->
	<appender name="CONSOLE_JSON"
		class="ch.qos.logback.core.ConsoleAppender">
		<encoder class="net.logstash.logback.encoder.LogstashEncoder">
			<customFields>{"app":"task-tracker"}</customFields>
		</encoder>
	</appender>

	<!-- File (JSON + rolling) -->
	<appender name="FILE_JSON"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<!-- current log file -->
		<file>logs/app.log</file>
		<!-- rolling policy -->
		<rollingPolicy
			class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- daily file -->
			<fileNamePattern>logs/app.%d{yyyy-MM-dd}.log</fileNamePattern>
			<!-- keep 14 days -->
			<maxHistory>14</maxHistory>
			<!-- optional: total size cap -->
			<totalSizeCap>1GB</totalSizeCap>
		</rollingPolicy>

		<encoder class="net.logstash.logback.encoder.LogstashEncoder">
			<customFields>{"app":"task-tracker"}</customFields>
		</encoder>
	</appender>

	<!-- DEBUG for you package -->
	<logger name="com.minhduc.tasktracker" level="DEBUG" />

	<!-- Root logger -->
	<root level="INFO">
		<appender-ref ref="CONSOLE_JSON" />
		<appender-ref ref="FILE_JSON" />
	</root>

</configuration>