.title {
  text-align: center;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 20px;
}

.loading {
  text-align: center;
  padding: 40px;
}

.dashboard {
  padding: 0px;
  font-family: Arial, sans-serif;
}

/* Cards */
.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}



/* Tablet */
@media (max-width: 1024px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Mobile */
@media (max-width: 600px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

.card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
  font-weight: 600;
}

.card-title {
  font-size: 13px;
  color: #6b7280;
}

.card-value {
    font-size: 20px;
  font-weight: 700;
  margin: 4px 0;
}


.overdue {
  background: #e53935;
}

.today {
  background: #fb8c00;
}

.week {
  background: #43a047;
}


/* Colors */
.card.total {
  background: white;
  border-radius: 14px;
  padding: 14px 16px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.06);
  transition: all 0.2s ease;
  border-left: 6px solid transparent;
  border-left-color: #327cf3;
}

.card.todo {
  background: white;
  border-radius: 14px;
  padding: 14px 16px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.06);
  transition: all 0.2s ease;
  border-left: 6px solid transparent;
  border-left-color: #606672;
}
.card.progress {
  background: white;
  border-radius: 14px;
  padding: 14px 16px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.06);
  transition: all 0.2s ease;
  border-left: 6px solid transparent;
  border-left-color: #f59e0b;

}
.card.done {
  background: white;
  border-radius: 14px;
  padding: 14px 16px;
  margin-bottom: 6px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.06);
  transition: all 0.2s ease;
  border-left: 6px solid transparent;
  border-left-color: #26b45a;
}

.clickable {
  cursor: pointer;
  transition: 0.2s;
}
.clickable:hover {
  transform: translateY(-3px);
}

/* Sections */
.section {
  margin-top: 20px;
  border: 1px solid #dbdbdb;
  border-radius: 15px;
  padding: 15px;
}

.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

.view-link {
  font-size: 13px;
  color: #1976d2;
  cursor: pointer;
  text-decoration: none;
}

.view-link:hover {
  text-decoration: underline;
}

.section-title {
  font-weight: 600;
  margin-bottom: 10px;
}

/* Priority */
.priority-list {
  display: flex;
  gap: 10px;
}

.priority-item {
  padding: 6px 10px;
  border-radius: 6px;
  font-size: 13px;
}

.critical {
  background: #fee2e2;
  color: #b91c1c;
}
.high {
  background: #ffedd5;
  color: #ff7b00;
}
.medium {
  background: #fef9c3;
  color: #ffbb00;
}
.low {
  background: #dcfce7;
  color: #166534;
}

/* Tasks */
.task-title {
  font-weight: 500;
}

.task-meta {
  font-size: 12px;
  color: #666;
}
.progress-wrapper {
  background: white;
  padding: 16px;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.06);
}

/* text */
.progress-info {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  margin-bottom: 6px;
  color: #475569;
}

/* bar background */
.progress-bar {
  height: 20px;
  background: #e2e8f0;
  border-radius: 999px;
  overflow: hidden;
}

/* fill */
.progress-fill {
  height: 100%;
  border-radius: 999px;
  transition: width 0.4s ease;
}

/* dynamic colors */
.progress-low {
  background: #ef4444; /* red */
}

.progress-medium {
  background: #f59e0b; /* amber */
}

.progress-high {
  background: #22c55e; /* green */
}

.progress-fill {
  animation: grow 1s ease;
}

@keyframes grow {
  from {
    width: 0;
  }
}

.row-2col {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 16px;
  margin-top: 0px;
}

canvas {
  height: 300px !important;
}

/* Tabler´t */
@media (max-width: 1024px) {
  .row-2col {
    grid-template-columns: 1fr 1fr;
  }

  canvas {
    height: 250px !important;
  }
}

/* Mobile */
@media (max-width: 768px) {
  .row-2col {
    grid-template-columns: 1fr;
  }
  canvas {
    height: 250px !important;
  }
}

/* ===== TASK ITEM DESGIN ===== */
.task-card {
  background: white;
  border-radius: 5px;
  padding: 5px 16px;
  margin-bottom: 3px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.06);
  transition: all 0.2s ease;
  border-left: 4px solid transparent;
}

/* DONE */
.task-card.status-DONE {
  border-left-color: #22c55e;
}

/* IN PROGRESS */
.task-card.status-IN_PROGRESS {
  border-left-color: #f59e0b;
}

/* TODO */
.task-card.status-TODO {
  border-left-color: #64748b;
}

/* Left */
.task-left {
  display: flex;
  flex-wrap: wrap; /* allow wrapping */
  align-items: center;
  gap: 6px;
}

.task-title {
  flex: 1; /* take remaining space */
  font-weight: 500;
}

.task-footer {
  display: flex;
  gap: 10px;
  font-size: 12px;
}

.task-assignee {
  margin-left: 8px;
  font-size: 12px;
  color: #64748b;
}

.task-time {
  font-size: 12px;
  color: #64748b;
}

/* Mobile Breaek new line */
@media (max-width: 1024px) {
  .task-footer {
    flex-basis: 100%; /* 👈 force new line */
    display: flex;
    margin-top: 4px;
  }
}

/* Right */
.task-right .status {
  font-size: 12px;
  padding: 3px 8px;
  border-radius: 10px;
  position: absolute;
  top: 8px;
  right: 8px;
}

/* Priority colors */
.priority-critical {
  color: #f80004;
}
.priority-high {
  color: #da680b;
}
.priority-medium {
  color: #facc15;
}
.priority-low {
  color: #22c55e;
}

/* Hover */
.task-item:hover {
  background: #fafafa;
}

/* status colors */
.TODO {
  background: #6b7280;
  color: white;
}

.IN_PROGRESS {
  background: #f59e0b;
  color: white;
}

.DONE {
  background: #22c55e;
  color: white;
}


/** Top Tags */
.tag-list {
  border-radius: 15px;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  background: #fff;
  padding: 15px 10px;
}

.tag-item {
  padding: 4px 12px;
  border-radius: 15px;
  display: inline-flex;
  align-items: center;
  gap: 6px;
  font-size: 14px;
   background: #eee;
}

.tag-item:hover {
  background: #e2e8f0;
}

.count {
  font-size: 12px;
  color: #6b7280;
}

/* title */
.section-title {
  font-weight: 600;
  margin-bottom: 12px;
  display: flex;
  align-items: center;
  gap: 6px;
}

/* layout */
.my-work {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

/* base card */
.my-work > div {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 14px;
  border-radius: 12px;
  background: #f9fafb;
  cursor: pointer;
  transition: all 0.2s ease;
}

.my-work > div:hover {
  transform: translateY(-2px);
}



.card-desc {
  font-size: 12px;
  color: #9ca3af;
}

/* icon */
.icon {
  font-size: 40px;
  opacity: 0.8;
}

.mat-icon {
  width: 40px;
  height: 40px;
  font-size: 40px;
  opacity: 0.6;
}

.mat-icon.total {
  color: #327cf3;
}

.mat-icon.todo {
  color: #6b7280;
}

.mat-icon.inprogress {
  color: #f59e0b;
}

.mat-icon.done {
  color: #26b45a;
}

/* ===== COLORS (giống Jira style) ===== */

/* Overdue */
.overdue {
  border-left: 6px solid #ef4444;
}

/* Today */
.today {
  border-left: 6px solid #ff9143;
}

/* Week */
.week {
  border-left: 6px solid #22c55e;
}

/* ===== MOBILE ===== */
@media (max-width: 768px) {
  .my-work {
    grid-template-columns: 1fr;
  }
}
