<h2 class="title">📉 Dashboard</h2>

<div *ngIf="loading" class="loading">Loading...</div>
<div *ngIf="stats$ | async as stats">
  <div class="dashboard" *ngIf="!loading">
    <!-- 🔢 Summary Cards -->
    <div class="section">
      <div class="section-title">✔️ Status Overview</div>
      <div class="cards">
        <div class="card total clickable" (click)="filterStatus('')">
          <div class="card-title">TOTAL TASKS</div>
          <div class="card-value">{{ stats.total }}</div>
        </div>

        <div class="card todo clickable" (click)="filterStatus('TODO')">
          <div class="card-title">TODO</div>
          <div class="card-value">
            {{ stats.todo }} ({{ calculatePercentage(stats.todo, stats.total) }}%)
          </div>
        </div>

        <div class="card progress clickable" (click)="filterStatus('IN_PROGRESS')">
          <div class="card-title">IN PROGRESS</div>
          <div class="card-value">
            {{ stats.inProgress }} ({{ calculatePercentage(stats.inProgress, stats.total) }}%)
          </div>
        </div>

        <div class="card done clickable" (click)="filterStatus('DONE')">
          <div class="card-title">DONE</div>
          <div class="card-value">
            {{ stats.done }} ({{ calculatePercentage(stats.done, stats.total) }}%)
          </div>
        </div>
      </div>
    </div>

    <div class="row-2col">
      <!--Left-->
      <div>
        <!--Progress bar-->
        <div class="section section-progress clickable" (click)="toKanbanBoard()">
          <div class="section-title">⟳ Progress Overview</div>
          <div class="progress-wrapper">
            <div class="progress-info">
              <span>{{ stats.done }} / {{ stats.total }} tasks done</span>
              <span>{{ stats.completionPercent }}%</span>
            </div>

            <div class="progress-bar">
              <div
                class="progress-fill"
                [ngClass]="progressColorClass(stats.completionPercent)"
                [style.width.%]="stats.completionPercent"
              ></div>
            </div>
          </div>
        </div>

        <div class="section clickable" (click)="sortTaksByUpdated()">
          <div class="section-title">⏲ Recent Tasks</div>
          <div
            class="task-card"
            [ngClass]="'status-' + task.status"
            *ngFor="let task of recentTasks$ | async"
          >
            <div class="task-left">
              <span
                class="material-icons priority-icon"
                [ngClass]="'priority-' + task.priority.toLowerCase()"
                [attr.title]="task.priority.toString()"
              >
                flag
              </span>
              <span class="task-title">{{ task.title }}</span>

              <div class="task-footer">
                <span class="task-assignee">
                  👤 {{ assigneeFullname(task.assignedTo) || 'Unassigned' }}
                </span>
                <div class="task-time">
                  <!--  Updated: {{ task.updatedAt | date: 'short' }} -->
                  🕒 Updated {{ task.updatedAt | timeAgo }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- right-->
      <div>
        <!-- 🎯 Priority Overview -->
        <div class="section">
          <div class="section-title">🏴 Priority Overview</div>
          <canvas #chartCanvas (click)="onChartClick($event)"></canvas>
        </div>

        <!-- My recent Task -->
        <div class="section clickable" (click)="filterAssignedTo()">
          <div class="section-title">🙋‍♂️ Assigned to Me</div>
          <div
            class="task-card"
            [ngClass]="'status-' + task.status"
            *ngFor="let task of myTasks$ | async"
          >
            <div class="task-main">
              <div class="task-left">
                <span
                  class="material-icons priority-icon"
                  [ngClass]="'priority-' + task.priority.toLowerCase()"
                  [attr.title]="task.priority.toString()"
                >
                  flag
                </span>
                <span class="task-title">{{ task.title }}</span>
                <div class="task-footer">
                  <span class="task-assignee">
                    👤 {{ assigneeFullname(task.assignedTo) || 'Unassigned' }}
                  </span>
                  <div class="task-time">
                    <!--  Updated: {{ task.updatedAt | date: 'short' }} -->
                    🕒 Updated {{ task.updatedAt | timeAgo }}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
