* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.title {
  text-align: center;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 20px;
}

@media (max-width: 768px) {
  .title {
    font-size: 18px;
  }
}

.task-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 16px;
}

/* Mobile: 1 column */
@media (max-width: 768px) {
  .task-container {
    grid-template-columns: 1fr;
  }
}

.task-card {
  position: relative;
  padding: 16px;
  border-radius: 12px;
  background: #f5f5f5;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

/* Mobile: disable hover effect */
@media (max-width: 768px) {
  .task-card:hover {
    transform: none;
  }
}

.task-card:hover {
  transform: translateY(-5px);
}

.add-task-form {
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 15px 10px 0px 10px;
  margin-bottom: 10px;
}

/* Mobile: stack vertically */
@media (max-width: 768px) {
  .task-form {
    flex-direction: column;
  }

  .task-form input,
  .task-form button {
    width: 100%;
  }
}

.status {
  display: inline-block;
  margin-top: 0px;
  padding: 4px 10px;
  border-radius: 5px;
  font-size: 12px;
}

/* status colors */
.TODO {
  background: #6b7280;
  color: white;
}

.IN_PROGRESS {
  background: #f59e0b;
  color: white;
}

.DONE {
  background: #22c55e;
  color: white;
}

.add-btn {
  margin-bottom: 15px;
  padding: 8px 12px;
  border: none;
  border-radius: 6px;
  background: #2563eb;
  color: white;
  cursor: pointer;
}

.task-form {
  margin-bottom: 20px;
  display: flex;
  gap: 10px;
}

.task-form input {
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.task-form button {
  padding: 8px;
  border-radius: 6px;
  cursor: pointer;
}

/** error message*/
.error {
  color: red;
  font-size: 12px;
  margin-bottom: 8px;
}

input.ng-invalid.ng-touched {
  border: 1px solid red;
}

input.ng-valid.ng-touched {
  border: 1px solid green;
}

/** delete btn */
.actions {
  margin-top: 10px;
}

.delete-btn {
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
}

.delete-btn:hover {
  background: #2563eb;
}

.edit-btn {
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 45px;
}

.edit-btn:hover {
  background: #2563eb;
}

/* Mobile */
@media (max-width: 768px) {
  .delete-btn,
  .edit-btn {
    position: static;
    margin-top: 6px;
  }

  .actions {
    display: flex;
    gap: 8px;
  }
}

/** Filter*/
.filter-bar {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}
.filter-bar select,
.filter-bar input {
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.clear-btn {
  display: inline-flex;
  align-items: center;
  gap: 6px;
  background: transparent;
  color: #64748b;
  border: 1px solid #cbd5e1;
  padding: 6px 6px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 13px;
  transition: all 0.2s ease;
}

.clear-btn:hover {
  background: #f1f5f9;
  color: #0f172a;
  border-color: #94a3b8;
}

/* Mobile */
@media (max-width: 768px) {
  .filter-bar {
    flex-direction: column;
  }

  .filter-bar select,
  .filter-bar input {
    width: 100%;
  }
}

/* backdrop */
.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* modal */
.modal {
  background: white;
  padding: 25px;
  border-radius: 12px;
  width: 350px;

  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}

/* inputs */
.modal input,
.modal textarea,
.modal select {
  width: 100%;
  margin-bottom: 12px;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

/* actions */
.modal-actions {
  display: flex;
  justify-content: space-between;
}

/* buttons */

button {
  min-height: 30px;
}

.save-btn {
  background: #2563eb;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 6px;
}

.cancel-btn {
  background: #e5e7eb;
  border: none;
  padding: 8px 12px;
  border-radius: 6px;
}

/* ===== BOX DESIGN ===== */
.border-box {
  position: relative;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px 12px 0px 12px;
  margin-top: 15px;
}

/* Title nằm đè lên border */
.border-title {
  position: absolute;
  top: -10px;
  left: 12px;
  background: #fff;
  padding: 0 8px;
  font-weight: 600;
  font-size: 14px;
  color: #333;
}

/* Content */
.border-content {
  margin-top: 10px;
}

/* Button polish */
button {
  transition: all 0.2s ease;
}

button:hover {
  transform: translateY(-1px);
}

button:active {
  transform: scale(0.96);
}

/* ===== TASK ITEM DESGIN ===== */
.task-card {
  background: white;
  border-radius: 14px;
  padding: 14px 16px;
  margin-bottom: 12px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.06);
  transition: all 0.2s ease;
}

.task-card:hover {
  transform: translateY(-2px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

/*** TASK ITEM*/
/* ===== TOP ===== */
.task-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task-left {
  display: flex;
  align-items: center;
  gap: 8px;
}

.task-title {
  font-weight: 600;
  font-size: 15px;
}

/* ===== DESCRIPTION ===== */
.task-desc {
  margin-top: 6px;
  font-size: 13px;
  color: #64748b;
}

.task-time {
  font-size: 12px;
  color: #94a3b8;
}

/* ===== FOOTER ===== */
.task-footer {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* ===== AVATAR ===== */
.avatar {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background: #3b82f6;
  color: white;
  font-size: 12px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-right: 6px;
}

/* ===== STATUS ===== */
.status-badge {
  font-size: 11px;
  padding: 3px 8px;
  border-radius: 10px;
  font-weight: 500;
}

.status-badge.DONE {
  background: #22c55e;
  color: white;
}

.status-badge.TODO {
  background: #64748b;
  color: white;
}

.status-badge.IN_PROGRESS {
  background: #f59e0b;
  color: white;
}

/* ===== ACTION ===== */

.icon-btn {
  border: none;
  background: transparent;
  cursor: pointer;
  opacity: 0.9;
  font-size: 16px;
}

.icon-btn:hover {
  opacity: 1;
}

.icon-btn.danger {
  color: #ef4444;
}

.task-actions-mobile {
  display: none;
}

@media (max-width: 768px) {
  .task-actions {
    display: none;
  }

  .task-actions-mobile {
    display: flex;
    /** shift to right*/
    justify-content: flex-end;
    width: 100%;
  }

  .icon-btn {
    border: none;
    cursor: pointer;
    opacity: 1;
    font-size: 20px;
  }
}

/* 🎨 Colors */
.priority-critical {
  color: #f80004; /* red */
}

.priority-high {
  color: #da680b; /* orange */
}

.priority-medium {
  color: #facc15; /* yellow */
}

.priority-low {
  color: #22c55e; /* green */
}
